.content ul {
  list-style: none;
}

.grade_S {
  color: white;
  background-color: grey;
}
.grade_A {
  background-color: blue;
}
.grade_B {
  background-color: green;
}
.grade_C {
  background-color: yellow;
}
.grade_D {
  background-color: orange;
}
.grade_F {
  background-color: red;
}
